/* --- Sections --- */

.sec-tables {
    background-color: blue;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.sec-util {
    width: 10%;
}

/* -- Banner --- */

.ban-cont {
    padding: 20px;
}

.ban-header {
    font-size: 5vw;
}

/* --- Top Food Items --- */

.tfi-cont {
    text-align: left;
    margin-bottom: 20px;
}

.tfi-header {
    font-size: 3vw;
    padding: 20px;
}

.tfi-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tfi-entry {
    background-color: red;
    text-align: center;
    width: 10vw;
    padding: 1vw;
}

.tfi-title {
    font-size: 2.5vw;
}

.tfi-rating {
    font-size: 1.75vw;
}

/* --- Top Companies --- */

.tco-cont {
    width: 30%;
    background-color: pink;
}

.tco-header {
    font-size: 2vw;
}

.tco-entry {
    display: flex;
    padding: 10px 0 10px 0;
    background-color: blue;
    border: 2px solid black;
}

.tco-rating {
    background-color: green;
    width: 20%;
    color: red;
    font-size: 1.75vw;
}

.tco-name {
    font-size: 1.5vw;
    background-color: blue;
    width: 80%;
}

/* --- Food Entries --- */

.fe-cont {
    width: 60%;
    background-color: green;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.fe-header {
    font-size: 2vw;
}

.fe-ctrl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fe-ctrl > input {
    width: 40%;
}

.fe-bar > button {
    width: 25%;
    border-radius: 0;
    font-size: 1vw;
    border: none;
    padding: 10px;
}

.fe-entry {
    background-color: red;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
}

.fe-entry > p {
    width: 25%;
}

/* --- Add Entry --- */

.add-cont {
    background-color: orange;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn {
    width: 80%;
    height: 80%;
    border-radius: 0;
    border: none;
    background-color: aqua;
}

/* --- Logout --- */

.log-cont {
    background-color: purple;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-btn {
    width: 80%;
    height: 80%;
    border-radius: 0;
    border: none;
    background-color: orangered;
}
